[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/TerathonMath"]
	path = vendor/TerathonMath
	url = https://github.com/EricLengyel/Terathon-Math-Library.git
